<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Coca Cola | Potosi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Starter files for implementing Twitter Bootstrap's Carousel -- using Bootstrap version 2.0.4">
    <meta name="author" content="David Cochran for webdesign.tutsplus.com">

    <!-- Le styles -->
    {% block cabesa %}<script src="{{STATIC_URL}}jquery.min.js"></script>{% endblock %}
    
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #bf0404;
      }
    </style>
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!-- Commented out - update these with your own files -->
    <!-- 
      <link rel="shortcut icon" href="ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png"> 
    -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="span2"><a class="brand" href="#"><img src="{{STATIC_URL}}a.gif"  width="80%"></a></div><br><div class="span9" style="background-color:#9b0505; ">
          
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">HOME</a>
              </li>
              
              <li class="dropdown">
                <a href="/noticias" class="dropdown-toggle" data-toggle="dropdown">
                      NOTICIAS
                </a>
              </li>
              
              <li >
                <a href="/promocion" class="dropdown-toggle" data-toggle="dropdown">
                      PROMOCIONES
                </a>
              </li>  

              <li>
                <a href="/productos">PRODUCTOS</a>
              </li>
              
              <li>
                <a href="/regiscliente">RESERVAS</a>
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    ACERCA 
                </a>
              </li>

              <li>
                <a href="/listado">COMENTAR</a>
              </li><!-- dropdown -->
            </ul><!-- /.nav -->
          </div><!--/.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
</div><div class="span1"></div>

      <!-- Example row of columns -->
      {% block cuerpo %}
      <span style="color: white;">
      <div>

ssssssssssssssssssssssssssssssssssssssssssss

sssssssssssssssssssssssssssssssssssssssssssss
<hi>------------------------------------------------</h1>

          </div>
            <h1>
                  <marquee></marquee>
            </h1>
             <h1>
                  <center>PRODUCTOS COCA-COLA</center>
            </h1>

          <div class="span4">

          <h2>COCA-COLA</h2>

          <p><a href="#"><img src="{{STATIC_URL}}bootstrap/img/1A.jpg" name='1'/></a></p>

          <p>Bebida sin alcohol gasificada

      <p>INGREDIENTES:agua carbonatada,azucar,colorante caramelo,acidulante(acido fosforico).saborizantes y cafeina</p></p>

          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div>

       <div class="span4">

          <h2>FANTA    </h2>

          <p><a href="#"><img src="{{STATIC_URL}}bootstrap/img/11.jpg" name='3'/></a></p>

          <p>Bebida sin alcohol gasificada con sabor a naranja <p>INGREDIENTES: agua carbonatada,azucar,emulsion saborizante,acidulante,preservante y colorantes aprobados</p> .</p>

          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div>

       <div class="span4">

          <h2>SPRITE</h2>

          <p><a href="#"><img src="{{STATIC_URL}}bootstrap/img/12.jpg" name='3'/></a></p>

          <p>Bebida sin alcohol gasificada con sabor a limon .<p>INGREDIENTES: agua carbonatada, azucar, acido citrico,saborizantes.citrato trisodico y benzoato de sodio.</p>  .</p>

          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div>



     <div class="span4">

  <center>  

          <h2><marquee>OTROS PRODUCTOS</marquee></h2>

          <a href="#"><img src="{{STATIC_URL}}bootstrap/img/" name='123'/></a>

          <p></p>

      

</center>

        </div>

     

       <div class="span4">

          <h2>MINERAGUA</h2>

          <p><a href="#"><img src="{{STATIC_URL}}bootstrap/img/5.jpg" name='3'/></a></p>

          <p>Bebida sin alcohol Gasificada con sabor a limos con bajo contenido de azucar</p><p>INGREDIENTES agua carbonatada ,azucar,acido citrico,saborizantes,benzoato de sodio,colorante autorizadoy acido escorbico.</p>

          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div>

       <div class="span4">

          <h2>AGUA VITAL</h2>

          <p><a href="#"><img src="{{STATIC_URL}}bootstrap/img/14A.jpg" name='3'/></a></p>

          <p>Agua de mesa sin sabor,color ni enturbiante, con y sin gas<p>INGREDIENTES: agua naturalpurificada ozonica</p></p>

          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div>

       <div class="span4">

          <h2>AQUARIUS</h2>

          <p><a href="#"><img src="{{STATIC_URL}}bootstrap/img/10.jpg" name='3'/></a></p>

          <p>Coca Cola tuvo una gran demanda en Bolivia, por lo que esta empresa en afán de satisfacer los gustos exigentes de sus clientes, pone al mercado un nuevo producto a base de jugos naturales.<p>INGREDIENTES:Según explicó Gómez, este producto está elaborado a base de agua purificada y cristalina con jugo de frutas, "debemos resaltar que es totalmente natural. Es una nueva opción para las personas que cuidan la silueta y su salud"</p></p>

          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div>

       <div class="span4">

          <center><h2>POWERADE(rehidratante)</h2></center>

          <p><a href="#"><img src="{{STATIC_URL}}bootstrap/img/13.jpg" name='3'/></a></p>

          <p>Idónea para tomar antes, durante y después de la práctica de un deporte, la bebida se presenta en tres deliciosos sabores: Ice Storm, Citrus Charge y Blood Orange en una moderna botella ergonómica.<p>INGREDIENTES:valor energético 132 kJ, 31 kcal; proteínas 0 g; hidratos de carbono 7,5 g, de los cuales azúcares 7,5 g; grasas 0 g, de las cuales ácidos grasos saturados 0 g; fibra alimentaria 0 g; sodio 0,05 g; minerales añadidos, cloruros 4,7 mg; potasio 5,3 mg; magnesio 1,6 mg</p></p>

          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div>

       <div class="span4">

          <center><h2>BURN(energisante)</h2></center>

          <p><a href="#"><img src="{{STATIC_URL}}bootstrap/img/7.jpg" name='3'/></a></p>

          <p>Bebida energética.
Alto contenido en cafeína.
32 mg / 100 ml de cafeína.
Formato 250 ml y formato lata 500 ml..</p>



          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div>

      <left><div class="span4">

          <h2>SIMBA</h2>

          <left><a href="#"><img src="{{STATIC_URL}}bootstrap/img/6.jpg" name='3'/></a>

          <p>Bebida sin alcohol gasificada con sabor a frutas en cinco sabores pinña,papaya,durazno,guarana,manzana.<p>INGREDIENTES:agua carbonatada ,azucaracidulante,preservante,saborizantey colorantes autorizados. </p></p>

          <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->

        </div>

      </div></left>
        {% endblock %}
      {% block foot %}
      {% endblock %}
      <!--<hr>
      <footer>

        <p>By <a href="http://twitter.com/davidcochran">David Cochran</a> of <a href="http://alittlecode.com/">aLittleCode.com</a> for <a href="http://webdesign.tutsplus.com/">webdesign.tutsplus.com</a></p>

      </footer>-->
  </div> <!-- /container -->



    <!-- Le javascript

    ================================================== -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->

    <!-- Bootstrap jQuery plugins compiled and minified -->

    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script>

      $(document).ready(function(){

        $('.carousel').carousel({

          interval: 4000

        });

      });

    </script>

    </body>

</html>