{% extends "index.html" %}
{% block producto %}
    <div id="carrito_content">
        <h4>Productos en carrito:</h4>
        <div id="carrito">

        </div>
        <a href="/confirmar/compra/">Confirmar Compra</a>
    </div>
    <div class="caja">
        <div class="contenedor" id="producto">
            {% for pro in lista_productos %}
                <h4>{{ pro.nombre }} {{ pro.precio }} $</h4>
                <img src="/media/{{ pro.imagen }}">
                <a href="/producto/{{ pro.id }}/"><button>Mas informacion</button></a>
                <a href="/productos/cargar/carrito/{{ pro.id }}/" data-reveal-id="myModal" class="enlace">Comprar</a>
            {% endfor %}
        </div>
        <div id="myModal" class="reveal-modal">
            <div id="formulario">
            </div>
        </div>
    </div>
{% endblock %}