{% extends "index1.html" %}
{% block contenedor %}

<center><br>
	<h1 id='titulo1'>REGISTRO CATEGORIA</h1><br>
	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		<table border='0' width='40%' rules='none'>
			<tr><td colspan='2' id='tab1' align='center'>CATEGORIA</td> </tr>
			<tr><td colspan='2' id='tab'></td></tr>
			<tr><td colspan='2' id='borde1'></td></tr>			
			<tr><td class='formu'>Nombres:</td><td class='formu'>{{formulario.nombre}}</td></tr>
			<tr><td class='formu'>Descripcion:</td><td class='formu'>{{formulario.descripcion}}</td></tr>
			<input type='hidden' name='fecha' id='ver' value=''>								
			<input type='hidden' name='id_admin' value='1'>								
			<script type="text/javascript">
					//function mifuncion(){
						//alert("holamundo");
						var hoy = new Date();
						var dia = hoy.getDate(); 
						var mes = hoy.getMonth()+1;
						var anio= hoy.getFullYear();
						var fecha_actual = String(mes+"/"+dia+"/"+anio); 
						//alert(fecha_actual);
						document.getElementById("ver").value=fecha_actual;	
					//}
					//document.getElementById("ver").value="hola";	
			</script>
			<tr><td colspan='2' class='formu'>
				<input type='submit' value='Registrar' id='boton'/></td> </tr>			
			<tr><td colspan='2' id='borde2'></td> </tr>			
		</table>
	</form>
	</center><br><br>
{% endblock %} 