{% extends "index.html" %}
{% block contenedor %}
<style type="text/css">
	p.informacion{
		font-size: 18px;
		font-family: Arial;

	}
	td{
		width: 100px;
		font-family: Arial;
		font-size: 14px;
	}
	tr:hover{
		background: red ;
	}

	table{
		border-radius: 5px;
		background-color: rgb(216,213,213);
		text-align: center;
		box-shadow:0 0 10px 5px black,-20px 0 30px red;
		padding: 10px;
	}
</style>

<div style="padding-left: 80%;"><strong >Casa Matriz: </strong> La Paz-Bolivia<br>
<ul><strong>Nit: </strong> 10004567002</ul>
<strong>Telefonos:</strong> 6226453-6235641<br></div>
<div style="border:solid 3px black;padding:5px;border-radius: 15px;background-color: rgb(216,213,213);lefth: 100px;">
	
	<p class="informacion" style="text-align: center;"><strong>FACTURA Nº: 0000 </strong> {{reserva.id}}</p>
	<p class="informacion"><strong>C.I./NIT: </strong> {{reserva.cliente.ci}}</p>
	<p class="informacion"><strong>Cliente: </strong>{{reserva.cliente.nombre}} {{reserva.cliente.apellidos}}</p>
	<p class="informacion"><strong>Precio Total: </strong> {{reserva.precio_total}}</p>
	
	
	

	
</div>

<h2>DETALLE DEL PRODUCTO</h2>

<table>
	<thead>

		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Cantidad Reservada</th>
			<th>Precio de Reserva</th>

		</tr>
	</thead>
	<tbody>
		{% for d in detallereserva %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{d.producto.nombre}}</td>
				<td>{{d.cantidad}}</td>
				<td>{{d.precio}}</td>	
			</tr>
		{% endfor %}
	</tbody>
</table>
<br>
<p class="informacion"><strong>Precio Total a Cobrar:......................................................................................... </strong> {{reserva.precio_total}}</p>


<br><br><br><br><br>
<center><h2>Seleccione Un Producto</h2></center>
<center>
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Stock</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for p in productos %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{p.nombre}}</td>
				{% for a in p.model_almacen_set.select_related.all %}
					<td>{{a.stock}}</td>
				{%endfor%}
				<td>
					<a href="{% url 'reserva.views.cantidad' reserva.id p.id %}">Seleccionar</a>
				</td>

			</tr>
		{% endfor %}
	</tbody>

</table>
</center>
<br><br>
<center><a href="javascript:print()">CONFIRMAR</a></center>
<center><a href="/">SALIR</a></center>

{% endblock %}