{% extends "index.html" %}
{% block contenedor %}
<style type="text/css">
	table{
		font-size: 18px;
		border-radius: 15px;
		text-align: center;
		width: 5px;
		padding: 30px;
		 box-shadow:0 0 10px 5px black,-20px 0 50px red;


	}
</style>
<center>
<table  class="table" style="background-color: rgb(216,213,213);">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Direccion</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		{% for c in clientes  %}
			<tr>
				
				<td>{{c.nombre}}</td>
				<td>{{c.direccion}}</td>
				<td>
					<a href="{% url 'reserva.views.create_reserva' c.id %}">Seleccionar</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
</center>